body
{
color: darkblue;
background-color: darkorange;
}

.heading
{
width: 80%;
font-size: 25px;
font-family:'Franklin Gothic Medium' ;
}

#camera
{
    width: 4000px;
    height: 250px;
    border: 2px dotted rgb(0, 0, 0);
}

.name_of_the_object, #result_obg_acu, #result_obg_name
{
    color: rgb(0, 0, 0);
    font-size :20px; 
}
